<ion-menu [content]="content"  >
  <ion-content class="menu-left">
    <div text-center padding-top padding-bottom class="primary-bg menu-left">
      <a menuClose>
        <div>
          <h4 light (click)="logado? '': acessarSistema()" >{{logado?'Del Lanches':'Acesso restrito'}}</h4>
          <hr>
          <ion-list class="list-full-border" *ngIf="logado" >
            <button menuClose ion-item (click)="goToInicio()">
                Início
            </button>
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
                {{p.titulo}}
            </button>
            <button menuClose ion-item (click)="openMenu()">
                Menu
            </button>
            <button menuClose ion-item (click)="sair()">
                Sair
            </button>
          </ion-list>
          <ion-list class="list-full-border" *ngIf="!logado">
            <button menuClose ion-item (click)="goToMenu()">
                Menu
            </button>
          </ion-list>
        </div>
      </a>
    </div>
    <div menuClose class="contato" padding-left (click)="goToContato()" >
      <p><b>Entre em contato</b></p>
    </div>

  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
